.l-container {
		max-width: 1000px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	&--line {
			border: 1px solid #ddd;
			padding: 75px;
			box-sizing: border-box;
			
			@include mq() {
				border: none;
				padding: inherit;
			}
	}
}